<a href="https://colab.research.google.com/github/gemini106/SanaSubhedarTASKS/blob/master/ML_Exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EXP 1 BASICS OF PYTHON**

In [2]:
print("My name is Sana Subhedar")
print("My Roll No is 18ET047")
print("This is EXP1 BASICS OF PYTHON")

My name is Sana Subhedar
My Roll No is 18ET047
This is EXP1 BASICS OF PYTHON

# **Simple Operations**

In [3]:
a = 10
b = 15
c = a+b
d = a*b
print(c)
print(d)

25
150

# **Print a Series of Numbers**

In [5]:
a = 1
print(a)
a = a+1
print(a)
a = a+1
print(a)
a = a+1
print(a)
a = a+1
print(a)
a = a+1
print(a)

1
2
3
4
5
6

In [12]:
n = input("what is your Name?")
print("Hello", n)
print("I hope life is treating", n, "well!")

what is your Name?Sanu
Hello Sanu
I hope life is treating Sanu well!

# **Calculate a discounted Price**

In [16]:
print("Let's calculate discounted price.")
c = input("What is the cost? ")
d = int(c)
ans = d*0.9
print("The discounted price is : ", ans)

Let's calculate discounted price.
What is the cost? 80
The discounted price is :  72.0

In [35]:
c = 80
d = c/100
print(d)

0.8

In [36]:
print("Let's calculate discounted price.")
c = input("What is the cost? ")
d = int(c)
x = input("What is the % discount? ")
y = int(x)
z = y/100
ans = d*z
print("The discounted price is : ", ans)

Let's calculate discounted price.
What is the cost? 80
What is the % discount? 50
The discounted price is :  40.0

# **For Loops**

In [23]:
for i in range (8):
  print("Hi how are you? ")

Hi how are you?
Hi how are you?
Hi how are you?
Hi how are you?
Hi how are you?
Hi how are you?
Hi how are you?
Hi how are you?

In [24]:
for i in range (10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
for i in range (11):
  print(i*10)
#print table of 10

0
10
20
30
40
50
60
70
80
90
100

# **Print table of any number**

In [31]:
t = input("What number table do you want to display? ")
a = int(t)
for i in range(1,11):
  print(a, "x", i,"=", a*i)
print("Great Job Jeon Sana!")

What number table do you want to display? 18
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180
Great Job Jeon Sana!

# **Dispaly fibonancci series of first 10 numbers**

In [44]:
#number = int(input("Enter how many terms? "))
number = 10
num1 = 0
num2 = 1
count = 0
sum = 0
print("Fibonancci series ")
while(count < number):
    print(num1)
    sum = num1 + num2
    num1 = num2
    num2 = sum
    count = count +1

print("You did it Jeon san Nim!!!")

Fibonancci series
0
1
1
2
3
5
8
13
21
34
You did it Jeon san Nim!!!